/*
CSS task Requirements:
-one font-family declaration
-a hover pseudo-class (create a rollover effect for nav buttons)
-float property to position at least one HTML element
-absolute and relative positioning in at least one area of web page
Include each of the following selectors:
    -one element selector to style HTML elements
    -one class selector that is used at least twice to style HTML elements
    -one ID selector to format specific elements of a page

    look up what these selectors are
*/

.main{
    /* background: url(/images/biking\ trail\ edited.jpg); */
    background-size: cover;
    background-position: center;
    height: 109vh;
    font-family: Arial;
    font-size: 20px;
}

#pic {
    float: right;
    width: 500px;
    height: 300px;
    border: 10px solid #000;
    /* margin-right: 225px; */
}

#homepagepic{
    background: url(/images/washington\ state.png);
    background-size: cover;
    background-position: center;
    height: 109vh;
}


h2.logo{
    color:brown;
    font-size: 40px;
    font-family: 'Times New Roman';
    padding-left: 20px;
    padding-top: 10px;
}

h1{
    color:brown;
}

h2{
    color: green;
}

/* Menu/Navigation items ---------------------------------- */
.menu{
    width: 400px;
    float: top;
    height: 70px;
    padding-bottom: 30px;
    background-color: blanchedalmond;
    
}

.navbar{
    width: 1000px;
    height: 75px;
    
}

ul{ 
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding-right: 100px;
    
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    
}

ul li a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium';
    font-weight: bold;
    transition: 0.05s ease-in-out;
}

ul li a:hover{
    color:#ff2700;
}
/*end Menu items --------------------------*/
/*trying to change the size of the text box for the question input*/
input.textbox{
    height: 200px;
    width: 500px;
}

input{
    width: 500px;
}
/*submit button getting rid of underline*/
.btn a{
    text-decoration: none;
}

p{
    background-color: beige;
    /* width: 600px; */
    float: top;
    /* margin: auto; */
    padding-block: 10px;
    width: auto;
}

table{
    background-color: beige;
    border: 5px solid #ff2700;
    }
/* table.tr{
    border: 5px solid #ff2700;
} 
 th{
    justify-content: center;
    align-items: center;
} */
#message{
    width: 200px;
    background: none;
}

ol{
    background-color: beige;
    padding-block: 10px;
    padding-left: 30px;
    margin-left: 20px; 

}